a { color: #0000ff; }

body { font-family: Verdana,Geneva,'DejaVu Sans',sans-serif; }

code
{
  font-family: 'Courier New',Courier,'Nimbus Mono L',monospace;
  font-size: 1.1em;
}

em.encode { font-family: Verdana,Geneva,'DejaVu Sans',sans-serif; }

pre { font-family: 'Courier New',Courier,'Nimbus Mono L',monospace; }

table.layout
{
  border-collapse: separate;
  padding: 0.25em;
  width: 100%;
}

td,th { padding: 0.25em 0.5em; }

td.lines
{
  background-color: #cccccc;
  border-color: #666666;
  border-style: solid;
  border-width: 1px;
}

th { font-style: oblique; }

th.encode 
{ 
  font-family: 'Courier New',Courier,'Nimbus Mono L',monospace;
  font-size: 1.1em;
}

tr { vertical-align: top; }

tr.bottom { vertical-align: bottom; }

.bang
{
  border-color: #666666;
  border-style: ridge;
  border-width: 3px;
  box-shadow: 0 8px 4px 2px #333333;
  display: block;
  font-size: 1.25em;
  margin: 1.0em 5.0em 2.0em 5.0em;
  padding: 1.0em;
  text-align: center;
}

.blank { color: #cccccc; }

.button { display: none; }

.contrast { font-weight: bold; }

.example
{
  border-color: #999999;
  border-style: ridge;
  border-width: 3px;
  display: block;
  padding: 0.25em 0.5em 0 0.5em;
}

.footer
{
  display: block;
  border-color: #666666;
  border-style: ridge none none none;
  border-width: 5px;
  font-size: 0.83em;
  font-style: oblique;
  margin: 1.0em auto;
  min-height: 100px;
  padding: 0.25em 0;
}

.logo
{
  float: left;
  margin: 0;
  padding: 0 20px 0 10px;
  vertical-align: middle;
}

.menu { display: none; }

.printURL { display: inline; }

.printX { display: inline; }

.textcentre { text-align: center; }

.textright { text-align: right; }

