a img { border-style: none; }

a:link { color: #0000ff; }

a:visited { color: #990099; }

body
{
  background-color: #ddddff;
  color: #000000;
  font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
}

code,pre
{
  background-color: transparent;
  color: #000066;
  font-family: 'Courier New',Courier,'Nimbus Mono L',monospace;
  font-size: 1.1em;
}

em.encode
{
  background-color: transparent;
  color: #000000;
  font-family: Verdana,Geneva,'DejaVu Sans',sans-serif;
  font-size: 0.83em;
}

h1,h2,h3,h4,h5,h6
{
  background-color: transparent;
  color: #000066;
}

table.layout
{
  background-color: transparent;
  border-collapse: separate;
  padding: 0.25em;
  width: 100%;
}

td,th { padding: 0.25em 0.5em; }

td.lines
{
  background-color: #ffffff;
  border-color: #222244;
  border-style: solid;
  border-width: 1px;
}

th
{
  background-color: #222244;
  color: #ffffff;
}

th.encode 
{ 
  font-family: 'Courier New',Courier,'Nimbus Mono L',monospace;
  font-size: 1.2em;
}

tr { vertical-align: top; }

tr.bottom { vertical-align: bottom; }

.bang
{
  background-color: #cc99cc;
  border-color: #330033;
  border-style: ridge;
  border-width: 3px;
  box-shadow: 0 8px 4px 2px #000066;
  color: #000000;
  display: block;
  font-size: 1.25em;
  margin: 1.0em 5.0em 2.0em 5.0em;
  padding: 1.0em;
  text-align: center;
}

.blank
{
  background-color: #ffffff;
  color: #9999bb;
}

.button
{
  background-color: #777799;
  border-color: #444466;
  border-style: ridge;
  border-width: 3px;
  display: inline;
  font-weight: bold;
  margin: 0 0.5em 0 0;
  padding: 0.25em 1.0em;
  text-decoration: none;
}

.contrast
{
  background-color: transparent;
  color: #000066;
  font-weight: bold;
}

.example
{
  background-color: #ccccee;
  border-color: #9999bb;
  border-style: ridge;
  border-width: 3px;
  color: #000000;
  display: block;
  margin: 1.0em 5.0em 1.0em 5.0em;
  padding: 0.5em 1.0em;
}

.footer
{
  background-color: #9999bb;
  border-color: #666688;
  border-style: ridge;
  border-width: 3px;
  color: #000000;
  display: block;
  font-size: 0.83em;
  font-style: oblique;
  margin: 1.0em auto;
  min-height: 100px;
  padding: 0.25em 0;
}

.logo
{
  float: left;
  margin: 0;
  padding: 0 20px 0 10px;
  vertical-align: middle;
}

.menu
{
  display: block;
  margin: 2.0em 0 1.0em 0;
}

.menu a:link { color: #000066; }

.menu a:visited { color: #660066; }

.menu a:hover
{ 
  background-color: #444466;
  color: #ffffff;
}

.printURL { display: none;}

.printX { display: none; }

.textcentre { text-align: center; }

.textright { text-align: right; }

